@mixin crear_cuadrado($lado, $color){
	display: block;
	border: 1px dashed red;
	background: $color;
	width: $lado;
	height: $lado;
}

@mixin margin($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}