$color-green: #00a699;
$color-gray: #767676;
$color-pink: #FF5A5F;
$color-border: #E9EBEB;
$color-white: #FFFFFF;
$color-gray-search: #EDEFED;
$color-gray-letter: #484848;

// anfitrion
$font-weight:600;
$font-weight-light3:300;
$color-gray-darker:#484848;
$color-green-anfit:#0093B8;

$button-fb:#3B5998;
$border-login:#C4C4C4;
$font-roboto:'Roboto', sans-serif;