@import "variables";
.picture {
	border: 0;
	width: 50px;
	border-radius: 50%;
	margin-top: 20%;
}

.ocultar {
	display: none;
}

.buttons {
	.btn-fb {
		width: 100%;
		height: 4em;
		display: block;
		border-radius: 5px;
		background-color: $button-fb;
		padding-top: 1em;
		text-transform: none;
	}
	.btn-google {
		background-color: $color-white;
		width: 100%;
		height: 4em;
		padding-top: 1em;
		margin-top: 1em;
		border: 1px solid $border-login;
		border-color: $border-login;
		color: $color-gray;
		text-transform: none;
	}
	.logo-fb,
	.logo-google {
		max-height: 55%;
		z-index: 2;
		position: absolute;
		margin: 3%;
		top: 0;
		left: 0;
	}
}

.signup-or-separator {
	background: none;
	height: 34px;
	position: relative;
	text-align: center;
	hr {
		margin: -16px auto 10px;
		width: 100%;
	}
	.text {
		background-color: $color-white;
		display: inline-block;
		padding: 8px;
		color: $color-gray;
	}
}

.modal {
	width: 40%;
	overflow: initial;
	max-height: 85%;
	.modal-footer {
		margin-top: -2em;
	}
}

.formulario {
	margin-bottom: 0;
	.btn-login {
		width: 100%;
		height: 3.5em;
		display: block;
		border-radius: 5px;
		padding-top: 8px;
		background-color: $color-pink;
		text-transform: none;
		top: 1em;
	}
	.form p {
		display: inline-block;
	}
	hr {
		margin-top: 3em;
	}
	.btn-default {
		border: 1px solid $color-pink;
		border-radius: 5px;
		color: $color-pink;
		padding: 7px 21px;
		font-size: 14px;
	}
}