@import "variables";
@import "mixins";
body {
	font-family: $font-roboto;
}

.title {
	padding: 13vh 0vh;
	h3,
	h5 {
		color: $color-gray-letter;
	}
}

.hero {
	background: url(https://a0.muscache.com/airbnb/static/engagement/p1/large/posters_sm.jpg);
	background-position: bottom center;
	background-size: 1600px auto;
	background-repeat: repeat-x;
	left: -60px;
	height: 90vh;
}

.button1 {
	border-radius: 3vh;
	border: $color-border solid;
	width: 45vh;
	padding: 1vh;
}

// buscador
.formulario {
	padding: 4vh 0vh;
}

.form {
	border-radius: 1vh;
	border: $color-border solid;
	padding: 1vh;
	margin-bottom: 0;
	position: relative;
	z-index: 0;
}

.btn-buscar {
	padding-top: 4vh;
}

.search {
	font-size: 2rem;
	padding-top: 4vh !important;
}

//menu
#sidenav-overlay {
	background-color: rgba(0, 0, 0, 0);
}